//Variables

//Mixin
@mixin main-text {
    color: floralwhite;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2cm;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
  header {
    a {
      max-width: 50%;
    }
  }
}

@media only screen and (max-width: 800px) {
  nav {
    background-color: rgba(1, 8, 5, 0.897);
    z-index: 5;
  }

  header {
    a {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  #about {
    span {
      margin-right: 10px;
    }
  }
}

nav {
    @include main-text();
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 50px;
    text-align: right;
    padding: 1.5rem;
    white-space: nowrap;

    ul {
        display: inline-flex;
        list-style-type: none;
        letter-spacing: 0cm; 


        li {
            margin-right: 0.5cm;
           
            a {
                text-decoration: none;
                color: floralwhite;
    
            }
        }
      }
    }

header {
    @include main-text();
    background-image: url("../Resources/background.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 240px;


    h1 {
      margin: 0.5rem;
      font-size: 45px;
    }
    
    h3 {
        margin: 0.5rem;
        font-size: 25px;
      }

    a {
        border: solid floralwhite;
        letter-spacing: 0cm;
        color: floralwhite;
        margin-top: 20px;
        margin-left: 10px;
        padding: 15px;
        text-decoration: none;
        text-align: center;

    }
}

#portfolio, #about, #contact {
    @include main-text();
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;

    h2 {
      margin: 2rem;
    }

    .fa-arrow-down {
      font-size: 30px;
      margin-top: 15px;
    }

     
    p, a {
     text-decoration: none;
      margin-top: 10px;
      letter-spacing: 0;
      color: black;
      list-style-type: none;
      line-height: 1.9;

      span {
        margin: 3px;
      }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);

      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;

        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }      
      }
    }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

footer {
    @include main-text();
    background-image: linear-gradient(to right, rgb(4, 10, 6), rgb(10, 26, 22));
    text-align: center;
  height: 50px;
  margin-top: 20px;

  p {
    padding-top: 10px;
  }
}
