* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (min-width: 700px) {
  header a {
    max-width: 100%;
    min-width: 20%;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    background-color: rgba(1, 8, 5, 0.897);
    z-index: 5;
  }
  header div {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #about span {
    margin-right: 10px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: floralwhite;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2cm;
  text-align: center;
}

nav i {
  position: fixed;
  left: 0px;
  margin: 0.5rem;
  color: floralwhite;
}

.dropdown_menu {
  display: none;
  color: black;
  position: fixed;
  top: 0.1px;
  width: 55vw;
  height: 100vh;
  background-color: floralwhite;
  z-index: 1;
  white-space: nowrap;
  visibility: visible;
  border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -ms-border-radius: 0px 20px 20px 0px;
  -o-border-radius: 0px 20px 20px 0px;
  -webkit-box-shadow: 5px 1px 5px black;
          box-shadow: 5px 1px 5px black;
}

.dropdown_menu ul {
  color: black;
  list-style-type: none;
  letter-spacing: 0cm;
  font-size: 1.2rem;
}

.dropdown_menu ul p {
  position: relative;
  right: -110px;
  top: 20px;
}

.dropdown_menu ul p:hover {
  text-shadow: 3px 3px 5px black;
}

.dropdown_menu ul li {
  margin-top: 5rem;
  color: black;
  margin-right: 0.7cm;
}

.dropdown_menu ul li a {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
}

.dropdown_menu ul li:hover {
  text-shadow: 3px 3px 5px black;
}

.scrolled {
  color: black;
}

.full_length_menu {
  display: none;
}

.scrolled {
  background-color: black;
}

header {
  width: 100vw;
  height: 100vh;
  color: floralwhite;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2cm;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../Resources/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../Resources/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header .header_content {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 25vh;
  left: 25vw;
}

header .header_content h1 {
  font-size: 3rem;
}

header .header_content h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

header .header_content div {
  margin-top: 1.5rem;
}

header .header_content div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid floralwhite;
  letter-spacing: 0cm;
  color: floralwhite;
  padding: 10px;
  margin: 1rem auto;
  width: 50vw;
  text-decoration: none;
  text-align: center;
}

header .header_content div a:hover {
  background-color: rgba(25, 105, 77, 0.148);
}

#portfolio,
#about,
#contact {
  color: floralwhite;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.2cm;
  text-align: center;
  color: black;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

#portfolio h2,
#about h2,
#contact h2 {
  margin-bottom: 2rem;
}

#portfolio p,
#about p,
#contact p {
  margin: 0 1.5rem;
}

#portfolio p,
#portfolio a,
#about p,
#about a,
#contact p,
#contact a {
  color: black;
  letter-spacing: 0;
  list-style-type: none;
  line-height: 1.9;
  text-decoration: none;
}

#portfolio p span,
#portfolio a span,
#about p span,
#about a span,
#contact p span,
#contact a span {
  margin: 0.5rem;
}

#portfolio a:hover,
#portfolio span:hover,
#about a:hover,
#about span:hover,
#contact a:hover,
#contact span:hover {
  color: #19694d;
}

footer {
  background-image: -webkit-gradient(linear, left top, right top, from(#040a06), to(#0a1a16));
  background-image: linear-gradient(to right, #040a06, #0a1a16);
  height: 7vh;
  margin-top: 3rem;
}

footer p {
  padding-top: 1rem;
}
/*# sourceMappingURL=style.css.map */