$mobile: 500px;
$tablet: 850px;
$desktop: 500px;
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}

@mixin main-text {
    color: floralwhite;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.2cm;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 700px) {
    header {
        a {
            max-width: 100%;
            min-width: 20%;
        }
    }
}

@media only screen and (max-width: 700px) {
    nav {
        background-color: rgba(1, 8, 5, 0.897);
        z-index: 5;
    }
    header {
        div {
            flex-wrap: wrap;
            flex-direction: column;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    #about {
        span {
            margin-right: 10px;
        }
    }
}

html {
    scroll-behavior: smooth;
}

body {
    @include main-text();
}

nav {
    @include main-text();
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 100px;
    text-align: right;
    padding: 1.5rem;
    white-space: nowrap;
    visibility: visible;
    ul {
        display: inline-flex;
        list-style-type: none;
        letter-spacing: 0cm;
        li {
            margin-right: 0.7cm;
            a {
                text-decoration: none;
                color: floralwhite;
            }
        }
    }
    @include mobile
}

.scrolled {
    background-color: black;
}

header {
    width: 100vw;
    height: 100vh;
    @include main-text();
    background: {
        image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../Resources/background.jpg");
        size: cover;
        repeat: no-repeat;
    }
    .header_content {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25vh;
        h1 {
            font-size: 3rem;
        }
        h3 {
            font-size: 1.5rem;
            margin-top: 1.5rem;
        }
        div {
            margin-top: 1.5rem;
            a {
                display: flex;
                flex-direction: column;
                border: solid floralwhite;
                letter-spacing: 0cm;
                color: floralwhite;
                padding: 10px;
                margin: 1rem auto;
                width: 50vw;
                text: {
                    decoration: none;
                    align: center;
                }
                &:hover {
                    background-color: rgba(25, 105, 77, 0.148);
                }
            }
        }
    }
}

#portfolio,
#about,
#contact {
    @include main-text();
    color: black;
    margin: {
        top: 3rem;
        bottom: 1rem;
    }
    h2 {
        margin-bottom: 2rem;
    }
    p {
        margin: 0 1.5rem;
    }
    p,
    a {
        color: black;
        letter-spacing: 0;
        list-style-type: none;
        line-height: 1.9;
        text-decoration: none;
        span {
            margin: 0.5rem;
        }
    }
    a:hover,
    span:hover {
        color: rgb(25, 105, 77);
    }
}

footer {
    background-image: linear-gradient(to right, rgb(4, 10, 6), rgb(10, 26, 22));
    height: 7vh;
    margin-top: 3rem;
    p {
        padding-top: 1rem;
    }
}